<div id="banner-print">
  <div>
    <img src="/images/theme/jshub_logo_tiny_black.png" alt="" />
  </div>
</div>
<div id="banner">
  <div id="header">
    <a id="logo" href="/" name="logo"><img src="/images/theme/logo_jshub_with_mark.png" alt=""></a>
  </div>
  <div id="metanav" class="nav"></div>
</div>

<div id="sitenav" class="nav">
  <ul>
    <li class="first {% if page.layout == "home" or page.layout == "homepage" %} active {% endif %}">
      <a title="Back home" href="/">Home</a>
    </li>
    <li class="{% if page.layout == "projects" %} active {% endif %}">
      <a title="projects" href="/projects/">Projects</a>
    </li>
    <li>
      <a title="Configure a jsHub tag" href="{{ site.app_url }}/configurator/">Configurator</a>
    </li>
    <li class="{% if page.layout == "about" %} active {% endif %}">
      <a title="About" href="/about/">About</a>
    </li>
    <li class="last {% if page.layout == "post" or page.layout == "blog" %} active {% endif %}">
      <a title="Blog" href="/blog/">Blog</a>
    </li>
  </ul>
</div>
