        <div class="featured">
          <h3><a href="/projects/">Featured project</a></h3>
          <a href="/hPage/" title="hPage specification page">
            <img src="/images/blog/screenshot_hpage.png" width="180" />
          </a>
          
          <h4>hPage microformat</h4>
          <p>
            A draft specification for replacing proprietary JavaScript code with a safe html based alternative that can be used by website editors. Freely available and in the public domain. 
          </p>
          <p>
            For more information see the <a href="/hPage/" title="hPage specification page">specification page</a>.
          </p>
        </div>