        <div class="featured">
          <h3>Featured project</h3>
          <img src="/images/blog/screenshot_core.png" width="180px" />
          
          <h4>jsHub Core</h4>
          <p>
            The Javascript development application including unit, automated and cross-browser testing methods and code, all freely available under a BSD license. 
          </p>
          <p>
            For more information see the <a href="http://github.com/jshub/jshub-core" title="jsHub Core on Github">project page</a> on Github.
          </p>
        </div>