<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>{{ page.title }} - jsHub</title>
  {% include yui3.html %} 
  {% include stylesheets.html %} 
  <link rel="stylesheet" href="/stylesheets/home.css" type="text/css" />
  {% include syntaxhighlighter.html %}   
</head>
<body class="jshub home yui-cssreset yui-cssfonts yui-cssgrids yui-cssbase">

  {% if page.ribbon %}  
    {% include fork_me_on_github.html %}
  {% endif %}

  {% include hpage.html %}
  {% include banner.html %}

  <div class="yui-d-custom page {{ page.categories | join: ' ' }}">

    <div class="content">
      <div class="yui-main">
        <div class="yui-b">
  
        {{ content }}
  
        </div>
      </div><!-- yui-main -->
    </div><!-- content -->

	</div><!-- page -->


{% include footer.html %}

</body>
</html>
