<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
        "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<title>{{ page.title }} - jsHub</title>
  <link type="text/css" rel="stylesheet" media="screen" href="/stylesheets/staticpages.css" />
  <!--[if lte IE 7]>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ie7.css" />
  <![endif]-->
  <!--[if lte IE 6]>
  <link rel="stylesheet" type="text/css" href="/stylesheets/ie6.css" />
  <![endif]-->  
</head>
<body>

  <div id="banner">
    <div id="header">
      <a id="logo" href="/">
        <img alt="jsHub.org logo" src="/images/staticpages/logo_jshub_with_mark_home.png" />
      </a>
    </div>
    <div id="tagline">
      <h3>
        {{ page.tagline }}
      </h3>
    </div>
  </div>

  <div id="action">
  </div>
  
  <div id="main">

    {{ content }}

  </div>

  <div id="footer">
    <p>
      <strong>jsHub.org</strong> | Copyright jsHub &copy; 2009 - see <a href="/legal/" title="Legals">Terms and conditions</a> for full details.
    </p>
  </div>
  
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8152756-3");
pageTracker._trackPageview();
} catch(err) {}
</script>

</body>
</html>
